% Include is basically like \input{} with \clearpage before and after \input{}. It's faster than \input{}, but can't be nested, can't appear in preamble and forces page breaks around the included text.
ctrl key = j
group = Other
insert at cursor =
\include{<SELECTION>}
