% Imports commands from another TeX file into the target file. It's equivalent to typing all commands from the other TeX file right into the target file.
ctrl key = k
group = Other
insert at cursor =
\input{<SELECTION>}
