% Include source code in a block environment within latex
% Needs \usepackage{listings}
% See also \lstloadlanguages and \lstset
ctrl key = c
group = Environment
insert at cursor =
\begin{lstlisting}
  <SELECTION>
\end{lstlisting}
